[data]
    email = {{ promptStringOnce . "email" "Enter Email" | quote }}
    name = {{ promptStringOnce . "name" "Enter Name" | quote }}

[git]
    autoCommit = true
    autoPush = false

[github]
    refreshPeriod = "24h"

[edit]
    command = "code"
    args = ["--wait"]

